{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>test</title>
</head>
<body>
{% block pagecontent %}
<div class="container article-content-inner">
    <div class="row">
        <div class="col-sm-12">
            <div class="article-header">
                <header>
                    <div id="adv_text" class="adv-heading"></div>
                    <h1>{{ headline }}</h1>
                    <h2>{{ promo }}</h2>
                </header>
            </div>
        </div>
    </div>
    <div class="row">
        <main class="col-sm-7 col-md-8">
            <div class="author-tagline author-inline">
                <div class="author-and-date">
                    <div class="author-byline">
                        <div class="author-name">{{ authorByLine}} </div>
                    </div>
                    <div class="article-pub-date">
                        <div class="publication-date">
                            {{ publishDate }}
                        </div>
                    </div>
                </div>
            </div>
            <section class="article-body">
                <div class="article-content">
                    {{ body | safe }}
                </div>
                <div class="article-disclosure">
                    {{ disclosure | safe}}
                </div>
            </section>
        </main>
        <aside class="col-sm-5 col-md-4 p-l">
            <section class="related-tickers">
                <div class="block-title">
                    <hr><h2>Stocks</h2>
                </div>
                <div id="stockList">
                {% for stock in relatedStocks %}
                    <div class="ticker-row">
                        <div>
                            <h3>{{stock.companyName}}</h3>
                            <h4>
                    <span class="ticker">
                        <a title="{{stock.companyName}} Stock Quote" href="#">
                            {{stock.exchange}}: <span class="symbol">{{stock.symbol}}</span>
                        </a>
                    </span>
                            </h4>
                            <aside class="price-quote-container">
                                <h4 class="current-price">
                                    ${{stock.currentPrice}}
                                </h4>
                                <h4 class="price-change-amount {%if stock.change < 0 %}price-neg {% else %}price-pos {% endif %}">
                                    ${{stock.change}}
                                </h4>
                                <h4 class="price-change-percent {%if stock.change < 0 %}price-neg {% else %}price-pos {% endif %}">
                                    ({{stock.changePercent}}%)
                                </h4>
                            </aside>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <button class="btn btn-info" onclick="test()">Randomize</button>
            </section>
        </aside>
    </div>
</div>
{% endblock %}
</body>
</html>
