{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>test</title>
</head>
<body>
{% block pagecontent %}
<div class="container content-inner">
    <div class="cards row">
        {% for article in articleList %}
        <div class="card">
            <div class="card-image">
                <a href="{% url 'articles' article.publishDate article.slug %}">
                    <img src="{{ article.featuredImage }}" alt="" style="object-fit:contain;">
                </a>
            </div>
            <div class="card-elements">
                <div class="card-header">
                    <a href="{% url 'articles' article.publishDate article.slug %}">
                        <h4>{{ article.headline }}</h4>
                    </a>
                    <p class="author">{{ article.authorByLine }} | {{ article.publishDate }} </p>
                </div>
                <div class="card-copy">
                    <p>{{ article.promo }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</body>