<div class="card">
    <div class="card-body">
        <h2 class="card-title">Post a Comment!</h2>
        <div class="card-elements row">
            <form method="POST"> {% csrf_token %}
                <div>
                    {{ form }}
                </div>
                <input type='submit' class="btn btn-sm row" value='Post'/>
            </form>
        </div>
    </div>
</div>
<div class="card">
    {% for comment in comments %}
        <div class="list-group-item">
            <p class="datetime">
                {{comment.timePosted}}
            </p>
            <p>
                {{comment.comment}}
            </p>
        </div>
    {% endfor %}
</div>
